body{
  margin:0;
  font-family:'Merriweather', serif;
  line-height:1.6;
  margin-top:70px;
  }
  
  h1,h2,h3{
  font-family:'Poppins', sans-serif;
  }
  
  .content-wrap{
  width:85%;
  max-width:1100px;
  margin:auto;
  padding:40px 0;
  }
  
  .main-nav{
  position:fixed;
  top:0;
  width:100%;
  background:#222;
  text-align:center;
  padding:15px 0;
  z-index:1000;
  }
  
  .main-nav a{
  color:white;
  margin:0 20px;
  text-decoration:none;
  font-weight:600;
  }
  
  .main-nav a:hover{
  color:#00bcd4;
  }
  
  header{
  background:#f4f4f4;
  }
  
  .profile-img{
  width:200px;
  border-radius:50%;
  }
  
  .column-narrow{
  float:left;
  width:30%;
  }
  
  .column-wide{
  float:right;
  width:65%;
  }
  
  .job-item{
  overflow:hidden;
  margin-bottom:40px;
  }
  
  .education{
  background:white;
  }
  
  .skills{
  background:#f4f4f4;
  }
  
  .work{
  
  background:
  linear-gradient(
  rgba(0,0,0,0.65),
  rgba(0,0,0,0.65)
  ),
  url("../images/code-bg.jpg");
  
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  
  color:white;
  }
  
  .contact-info a{
  margin-right:20px;
  text-decoration:none;
  color:#333;
  font-weight:600;
  }
  
  .contact-info i{
  margin-right:8px;
  }
  
  footer{
  text-align:center;
  background:#e9e9e9;
  padding:40px 0;
  }